footer {
    width: 100%;
    padding: 1em;
    background-color: #282c34;
    color: #d3d3d3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 500ms ease-in-out;
}

footer section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

footer section a {
    margin: 1em auto;
    font-weight: 600;
    transition: all 500ms ease-in-out;
}

footer section a:hover {
    color: #d44807;
}

footer .brand {
    font-size: 2em;
}

@media (max-width: 768px) {
    footer section {
        margin: 1em auto;
        justify-content: flex-start;
    }

    footer section a {
        margin: 0.5em;
    }
}